{% include 'header.html' %}

{% block content %}
<div class="container">
    <form class="row g-3" method="post" action="{% url 'add_quiz' uname %}">
        {% csrf_token %}
        <h2>Add Quiz</h2>
        <div class="col-12">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter quiz title" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Total Questions</label>
            <input type="number" class="form-control" name="tot_questions" placeholder="Enter total number of questions"
                required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Maximum Time Alloted</label>
            <input type="number" class="form-control" name="max_time"
                placeholder="Enter maximun time alloted ( in minutes )" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Mark for Correct Answers</label>
            <input type="number" class="form-control" name="mark_for_correct"
                placeholder="Enter mark for correct answers" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Mark for Wrong Answers</label>
            <input type="number" class="form-control" name="mark_for_wrong"
                placeholder="Enter mark for wrong answers ( specify negative symbol )" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Maximum Mark</label>
            <input type="number" class="form-control" name="max_mark" placeholder="Enter maximun mark" required>
        </div>
        <input type="hidden" name="date_added" value="{{ date }}">
        <div class="col-12">
            <center>
                <button class="btn btn-primary" type="submit" name="add">Add Quiz</button>
            </center>
        </div>
    </form>
</div>
{% endblock %}

{% include 'footer.html' %}