{% include 'header.html' %}

{% block content %}

<section>
    <h2 class="text-center">Reset Password</h2><br>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card form-card">
                    <div class="card-body">
                        <form method="post" action="{% url 'reset_password' uid token %}" id="resetpassForm">
                            {% csrf_token %}
                            <div class="form-field mb-4">
                                <input type="password" id="password" name="password" class="input-text form-control-lg"
                                    style="background-color: #fff;" required />
                                <label class="form-label" for="password">New Password</label>
                                <div class="underline"></div>
                            </div>
                            <div class="form-field mb-4">
                                <input type="password" id="cpassword" name="cpassword"
                                    class="input-text form-control-lg" style="background-color: #fff;" required />
                                <label class="form-label" for="cpassword">Confirm New Password</label>
                                <div class="underline"></div>
                            </div>
                            <div class="form-outline mb-1">
                                {{ form.captcha }}<br>
                                <label class="form-label">Enter Captcha Code</label>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg" name="reset"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            highlight: function (element) {
                $(".form-label").css({ "display": "none" })
            },
            unhighlight: function (element) {
                $(".form-label").css({ "display": "block" })
            }
        });
        $.validator.addMethod("pwcheck", function (value) {
            return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                && /[A-Z]/.test(value) // has an uppercase letter
                && /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        });
        $("#resetpassForm").validate({
            rules: {
                password: {
                    minlength: 8,
                    pwcheck: true
                },
                cpassword: {
                    equalTo: "#password"
                }
            },
            messages: {
                password: {
                    pwcheck: "Password must be a combination of uppercase, lowercase letters and numbers."
                },
                cpassword: {
                    equalTo: "Password not matching"
                }
            }
        })
    })
</script>

{% endblock %}

{% include 'footer.html' %}