{% include 'header.html' %}

{% block content %}
<div class="container">
    <h2>Hello {{ fname }}, </h2>
    <br>
    <h3>Available Quizzes</h3><br>

    <div class="row">
        {% if quizzes %}
        {% for item in quizzes %}
        <div class="q-card card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 m-2">
            <div class="q-layer"></div>
            <div class="q-content">
                <div class="card-header">
                    <b>{{ item.title }}</b>
                </div>
                <div class="card-body">
                    <p>Total Questions : {{ item.tot_questions }}</p>
                    <p>Time Alloted : {{ item.max_time }} min</p>
                    <div class="text-center">
                        {% if user in item.attendees.all %}
                        <p class="text-success"><b>Already attended</b></p>
                        {% else %}
                        <a class="attempt btn btn-outline-success btn-sm"
                            href="{% url 'instructions' user_id item.id %}">Attempt</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Date posted : {{ item.date_added }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No Quizzes available at this time : (</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% include 'footer.html' %}